In [1]:
import pandas as pd
import numpy as np



datas = pd.read_csv("processed_data_with_hour.csv")
print(datas.head())

         lat        lon  year  month  day  hour  \
0  40.742603 -73.931600  2016      6   14     6
1  40.679654 -73.916394  2017     12   18    15
2  40.679654 -73.916394  2017     12   18    21
3  40.690691 -73.726744  2014      5   14    18
4  40.731659 -73.804528  2009     10    7    21

                           street  total_volume  avg_volume
0                       47 AVENUE            63       15.75
1               MAC DOUGAL STREET             0        0.00
2               MAC DOUGAL STREET             0        0.00
3                     LINDEN BLVD           814      203.50
4  E/B JEWEL AVE (E LEG) @ 164 ST            71       17.75

In [4]:
data_values = datas.values

In [5]:
data_values[0]

array([40.742602533081175, -73.93159957486839, 2016, 6, 14, 6,
       '47 AVENUE', 63, 15.75], dtype=object)

In [6]:
SHIFT = 500

def position2key(pos1, pos2):
    return (180 + pos1) * SHIFT + (180 + pos2)

In [7]:
N = data_values.shape[0]
N

395623

In [ ]:
num_nodes = 0
street2id = {}
key2node = {}

for i in range(N):
    key = position2key(data_values[0], data_values[1])
    if key in key2node:
        continue
    else:
        key2node[key] = num_nodes
        num_nodes += 1
        
num_nodes