In [2]:
import numpy

In [7]:
a = numpy.load("PEMS04.npz")
a["data"].shape

(16992, 307, 3)

In [8]:
import pandas as pd

b = pd.read_csv("PEMS04.csv")
b.head()

   from   to   cost
0    73    5  352.6
1     5  154  347.2
2   154  263  392.9
3   263   56  440.8
4    56   96  374.6

In [9]:
a = a["data"]

In [11]:
a[0,0]

array([6.20e+01, 7.70e-03, 6.79e+01])